.list-cell 
{
    -fx-control-inner-background:#212121;
    -fx-text-fill:#FAFAFA;
}

.jfx-list-view 
{
    -fx-background-color: #263238;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected
{
    -fx-background-color: #0096c9;
    -fx-text-fill: white;
}

.table-row-cell
{
   -fx-background-color: transparent;
}

.jfx-tab-pane .tab-header-background 
{
    -fx-background-color:#212121; 
}

.jfx-tab-pane .tab-label
 {
    -fx-alignment: CENTER;
    -fx-text-fill: #FAFAFA;
    -fx-font-weight: bold;
}

.jfx-date-picker .text-field
{
    -jfx-unfocus-color: #FAFAFA;
    -fx-prompt-text-fill: #FAFAFA;
    -fx-text-fill:#FAFAFA;
    -fx-control-inner-background: transparent;
}

.button .rippler
{
      -fx-rippler-fill:#FAFAFA;
}

.combo-box, .jfx-combo-box
{
    -fx-background-color: transparent;
    -fx-text-fill: #FAFAFA;
    -fx-cell-size: 1.66667em; 
    -jfx-unfocus-color: #FAFAFA;
    -jfx-focus-color: #FAFAFA;
}

.jfx-combo-box{
    -jfx-unfocus-color: #FAFAFA;
    -jfx-focus-color: #FAFAFA;
    -fx-prompt-text-fill: #FAFAFA;
    -fx-text-fill: #FAFAFA;
    -fx-cell-size: 1.66667em; 
}

.combo-box-base .text
{
     -fx-fill: black;
}

.table-view .column-header-background
{
    -fx-background-color: transparent;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
}

.table-row-cell:filled 
{
    -fx-background-color: transparent;
    -fx-text-fill: #FAFAFA;
}

.table-row-cell:filled:selected 
{
    -fx-background-color: #0096c9;
    -fx-text-fill: #FAFAFA;
}

